.page {
  background-color: var(--color__background);
  color: var(--color__main-text_profile);
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter", Helvetica, sans-serif;
}
