.profile__user-job {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__user-job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
