.page__popup {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: visibility 0.4s ease-out, opacity 0.4s ease-out;
}
