.popup__window_size_s {
  width: 430px;
  /*min-width: 282px;*/
  /*padding: 34px 36px 37px;*/
  /*border-radius: 10px;*/
}

@media screen and (max-width: 767px) {
  .popup__window_size_s {
    width: 282px;
    padding: 25px 22px;
  }
}
