.element__trash {
  background-image: url(../../../images/Trash.svg);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  height: 18px;
  width: 19.3px;
  -webkit-transition: scale 0.1s ease-in-out 0.1s;
  -o-transition: scale 0.1s ease-in-out 0.1s;
  transition: scale 0.1s ease-in-out 0.1s;
  position: absolute;
  top: 18px;
  right: 17px;
}

.element__trash:hover {
  transform: scale(1.2);
}
