.element__like {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none; /*убирает подводку контура после клика*/
  background-image: url(../../../images/element_like.svg);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  width: 22px;
  -webkit-transition: opacity 0.1s ease-in-out 0.1s, scale 1s ease-in-out 1s;
  -o-transition: opacity 0.1s ease-in-out 0.1s, scale 0.1s ease-in-out 0.1s;
  transition: opacity 0.1s ease-in-out 0.1s, scale 0.1s ease-in-out 0.1s;
}

.element__like:hover {
  opacity: 0.5;
  transform: scale(1.2);
}
